.header{
    background-image: url("../../public/img/HeaderBackground.png");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        max-width: 1800px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .headerH1{
            margin: auto;
            color: white;
            margin-bottom: 40px;
            font-size: 50px;
            text-align: center;
        }

        .filter{
            margin: auto;
            width: 100%;
            .searchBarContainer{
                padding: 0 20px 0 20px;
                margin: auto;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                
                input{
                    height: 50px;
                    width: 100%;
                    min-width: 150px;
                    max-width: 700px;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                    flex-grow: 1;
                }
                button{
                    height: 50px;
                    width: 50px;
                    background: white;
                    img{
                        width: 70%;
                        height: 60%;
                        margin-right: 5px;
                    }
                    img:hover{
                        width: 80%;
                        height: 70%;
                    }
                }
            }
            .selectsContainer{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .selectItem{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0 20px 40px 20px;
                    align-items: center;
                    p{
                        font-size: 25px;
                        color: white;
                        margin-right: 10px;
                    }
                    select{
                        box-sizing: content-box;
                        height: 40px;
                        width: 240px;
                        min-height: 30px;
                        padding: 5px 10px 5px 10px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
    
}