.booksCount{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.booklistContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    gap: 50px;
}

.moreButtonContainer{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;

    .moreButton{
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 15px;
        background: rgb(240, 240, 240);

    }

    .moreButton:hover{
        background: rgb(212, 212, 212);
    }
}